body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 100%;
	height: auto;
}


/* header */
#main-header {
	background: #333;
	color: white;
	height: 80px;
}	

/* #main-header {
	background: #333;
	color: white;
	height: 80px;
	
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}	 */

	#main-header a {
		color: white;
	}
 
/*
 * Logo
 */
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}
	#logo-header:hover {
		color: #0b76a6;
	}
	
	#logo-header .site-name {
		display: block;
		font-weight: 700;
		font-size: 1.2em;
	}
	
	#logo-header .site-desc {
		display: block;
		font-weight: 300;
		font-size: 0.8em;
		color: #999;
	}
	
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
				min-width: 150px;
				text-align: center;
			}
			
				nav ul li a:hover {
					background: #0b76a6;
                }
                


#main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
    
    #main-content header,
    #main-content .content {
        padding: 40px;
	}
	





/* GENERALES */

h1{
	font-size: 2.3em;
	color: #333;
	line-height: 1.3em;
	margin: 15px 0;
	font-weight: 300;
}

.p-1 
{ 
	padding: 15px 15px 15px 15px;
}
.p-left-1 
{ 
	padding-left: 15px;
}
.p-right-1 
{ 
	padding-right: 15px;
}
.p-top-1 
{ 
	padding-top: 15px;
}
.p-bottom-1 
{ 
	padding-bottom: 15px;
}

.ta-center 
{
	text-align: center;
}
.ta-right 
{
	text-align: right;
}
.ta-left 
{
	text-align: left;
}
.f-right 
{
	float: right;
}
.f-left 
{
	float: left;
}

.btn-back
{
    border: 2px solid #666666;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    color: #333;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
	margin-top: 20px;
	min-width: 100px;
}
.btn-back:hover
{
	color: #333;
	background-color: #d3d3d3;

}

/* PORTAL */

.buttons-portal div
{
	padding-top: 15%;
}

.buttons-portal a 
{
	width: 200px;
	height: 200px;
	display: inline-block;
	position: relative;
	line-height: 200px;
	background-color: #d3d3d3;
	border-radius: 100px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.buttons-portal img
{
	max-width: 165px;
	max-height: 165px;
	display: inline-block;
	position: relative;
	background-color: #d3d3d3;
	border-radius: 100px;
}

.div-font
{
	font-size: 35px;
	font-family: Roboto;
	font-family: "Lucida Grande", Tahoma;
	color: black;
	text-transform: uppercase;
	font-weight: 100 !important;
}

.buttons-portal a:active 
{
	top: 1px;
}

.buttons-portal a::before
{
	position: absolute;
	z-index: -1;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	background-color: #eaeaea;
	border-radius: 140px;
	opacity: 0.5;		
}

.buttons-portal a:active 
{
	top: -9px;
}
 
.buttons-portal a:hover 
{
	opacity: 1;
}

.buttons-portal a.regions:hover 
{
	background-color: #c6f0f8;
}
 
.buttons-portal a.countries:hover
{
	background-color: #d3ffdc;
}
 
.buttons-portal a.fuels:hover 
{
	background-color: #fadae6;
}
 
.buttons-portal a.technologies:hover 
{
	background-color: #f8ebb6;
}

/* tablas */

table
{
	border: 2px solid #666666;
	color: #333;
}

table td, table th {
	padding-left: 8px;
}

.table100-head {
	height: 60px;
	background: #cdcdcd;
}

.table100-head th
{
	font-size: 18px;
	color: inherit;
	line-height: 1.2;
	font-weight: unset;
	border-bottom: 2px solid #666666;
}

.table100-head th a {
	font-size: 18px;
	color: inherit;
	line-height: 1.2;
	font-weight: unset;
}

.table100-head th.actions {
	height: 60px;
	max-width: 30px;
	text-align: center;
}

table tbody tr td.actions {
	max-width: 30px;
	text-align: center;
}
table tbody tr {
	height: 50px;
}
table tbody tr:last-child {
	border: 0;
}
table td, table th {
	text-align: left;
}
table td.l, table th.l {
	text-align: right;
}
table td.c, table th.c {
	text-align: center;
}
table td.r, table th.r {
	text-align: center;
}

tbody tr {
	font-size: 15px;
	color: inherit;
	line-height: 1.2;
	font-weight: unset;
	cursor: default;
}

.wrapper
{
	text-align: center;
	padding: 15px 0 0 0;
	color: #333;
}

.pagination li, .pagination li.prev, .pagination li.next{
	border: 2px solid #777777;
	margin-left: 13px; 
	border-radius: 16px;
	padding: 0px;
	color: inherit;
}
.pagination li a{
	color:inherit;
}

.pagination li.active
{
	background-color: #777777;
	border-radius: 16px;
	color: white;
}

.pagination li:hover, .pagination li a:hover {
	background-color: #777777;
	border-radius: 16px;
	color: white;
}