.btn-back {
	border: 2px solid #666666;
	display: inline-block;
	padding: 2px 16px 8px 9px;
	vertical-align: middle;
	color: $primary-color;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	margin-top: 20px;
	min-width: 100px;
	&:hover {
	  color: $primary-color;
	  background-color: #d3d3d3;
	}
	.ion-icon
	{
		position: relative;
		top: 6px;
	}
}

.btn-new {
	border: 2px solid #666666;
	display: inline-block;
	padding: 2px 16px 8px 9px;
	vertical-align: middle;
	color: $primary-color;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	margin: 0 0 15px 0;
	min-width: 100px;
	&:hover {
	  color: $primary-color;
	  background-color: #d3d3d3;
	}
	.ion-icon
	{
		position: relative;
		top: 6px;
		padding-right: 6px; 
	}
}

.btn-actions-form {
	width: 100%;
	.btn-save, .btn-cancel
	{
		border: 2px solid #666666;
		display: inline-block;
		padding: 2px 16px 8px 9px;
		vertical-align: middle;
		color: $primary-color;
		background-color: inherit;
		text-align: center;
		cursor: pointer;
		margin-top: 20px;
		min-width: 114px;
		&:hover {
		  color: $primary-color;
		  background-color: #d3d3d3;
		}
		.ion-icon
		{
			position: relative;
			top: 5px;
		}
	}
	.btn-cancel
	{
		padding: 2px 16px 4px 9px;
		margin: 20px 0 0 15px;
	}
	
}

.btn-search {
	color: $primary-color;
	text-align: center;
	cursor: pointer;
	span ion-icon
	{
		position: relative;
		top: 20px;
		font-size: 40px !important;
	}
}

.download-excel
{
	border: 2px solid #666666;
	display: inline-block;
	vertical-align: middle;
	padding: 9px 16px 8px 9px;
	color: $primary-color;
	background-color: inherit;
	text-align: center;
	cursor: pointer;
	margin: 0 0 15px 0;
	min-width: 100px;
	&:hover, &:focus {
	  color: $primary-color !important;
	  background-color: #d3d3d3;
	}
	img
	{
		width: 25px;
		position: relative;
		top: -2px;
		right: 5px;
		margin: 0 0 0 5px;
	}
}