.cnt-form
{
	background-color: white !important;
	padding: 0px;
	margin: 0px;
	width: $cont-max
}

.input_field
{
	input
	{
		border: none;
		box-shadow: none;
		border-bottom: 2px solid $third-color;
		color: $primary-color;
		&:focus
		{
			border: none;
			box-shadow: none;
			border-bottom: 2px solid $primary-color;
			color: $primary-color;
		}
	}
	label
	{
		font-size: 18px;
		color: $primary-color;
	}
	.required
	{
		label::after {
			color: red;
			content: "*";
			padding-left: 2px;
		}
	}
	.select2
	{
		top: 11px;
		.select2-selection
		{
			border: none !important;
			box-shadow: none !important;
			border-bottom: 2px solid $third-color !important;
			color: $primary-color !important;
			border-radius: 0px !important;
			position: relative;
			&:focus
			{
				border: none;
				box-shadow: none;
				border-bottom: 2px solid $primary-color !important;
				color: $primary-color;
			}
			.select2-selection__rendered
			{
				position: relative;
				top: -7px;
			}
			
		}
	}
}

.input_field_year{
	.select2 .select2-selection
	{
		border: 2px solid $secondary-color !important;
		background-color: transparent;
		box-shadow: none !important;
		border-bottom: 2px solid $secondary-color !important;
		color: $primary-color !important;
		border-radius: 0px !important;
		position: relative;
		height: 48px;
		&:focus
		{
			border: none;
			box-shadow: none;
			// border-bottom: 2px solid $primary-color !important;
			color: $primary-color;
		}
		.select2-selection__rendered
		{
			position: relative;
			top: 9px;
			right: 27px;
			font-size: 25px;
		}
	}
}

.input.checkbox
{
	label
	{
		font-size: 18px; 
		color: #333;
	}
}

.p-form
{
	padding-top: 43px;
}

.form-error {
	/* display: none; */
	margin-top: -0.5rem;
	margin-bottom: 1rem;
	font-size: 0.75rem;
	font-weight: bold;
	color: #cc4b37; 
}

.form-error.is-visible {
	display: block; 
}


// .form-error input[type="text"], .error input[type="password"], .error input[type="date"], .error input[type="datetime"], .error input[type="datetime-local"], .error input[type="month"], .error input[type="week"], .error input[type="email"], .error input[type="number"], .error input[type="search"], .error input[type="tel"], .error input[type="time"], .error input[type="url"], .error textarea, .error select {
.error
{
	label
	{
		color: $error-leter-color;
	}
	input.form-error
	{
		border: 2px solid $error-leter-color;
		border-color: $error-leter-color;
		background-color: rgba(198, 15, 19, 0.1);
		margin-bottom: 0.2em;
		position: relative;
		top: 7px;
		color: $error-leter-color;
	}
	.error-message
	{
		color: $error-leter-color;
		position: relative;
		top: 7px;
		font-size: 13px;
		font-style: italic;
	}
}

//Para los select disabled
.select2-container--disabled .select2-selection__rendered
{
	background: #eee;
}
