body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: $letter-color;
	background: #f2f2f2; 
	font-size: 1.1em;
	line-height: 1.5em;
}
 
p {
	margin: 0 0 1.5em 0;
}
 
img {
	max-width: 100%;
	height: auto;
}

h1{
	font-size: 2.5em;
	color: $primary-color;
	line-height: 1.3em;
	margin: 15px 0;
	font-weight: 300;
}

h2{
	font-size: 2em;
	color: $secondary-color;
	line-height: 1.3em;
	margin: 15px 0;
	font-weight: 300;
}

.titles-view{
	font-size: 1.3em;
	color: $primary-color;
	line-height: 1.3em;
	margin: 15px 0;
	font-weight: 300;
	width: inherit;
}

.title-searcher{
	font-size: 1.7em;
	color: $secondary-color;
	line-height: 1.3em;
	padding: 15px 15px 0 15px;
	font-weight: 300;
	width: inherit;
}

.p-left-1{padding-left: 1em;}
.p-right-1{padding-right: 1em;}
.p-top-1{padding-top: 1em;}
.p-bottom-1{padding-bottom: 1em;}
.p-horizontal-1{padding-left: 1em;padding-right: 1em;}
.p-vertical-1{padding-top: 1em;padding-bottom: 1em;}
.p-1{padding: 1em;}
.p-left-0{padding-left: 0px;}
.p-right-0{padding-right: 0px;}
.p-top-0{padding-top: 0px;}
.p-bottom-0{padding-bottom: 0px;}
.p-horizontal-0{padding-left: 0px; padding-right: 0px;}
.p-vertical-0{padding-top: 0px; padding-bottom: 0px;}
.p-0{padding: 0px;}
.p-form{padding-top: 43px;}

.p-left-5{padding-left: 5rem}

.m-left-1{margin-left: 1em;}
.m-right-1{margin-right: 1em;}
.m-top-1{margin-top: 1em;}
.m-bottom-1{margin-bottom: 1em;}
.m-horizontal-1{margin-left: 1em;margin-right: 1em;}
.m-vertical-1{margin-top: 1em;margin-bottom: 1em;}
.m-1{margin: 1em;}
.m-left-0{margin-left: 0;}
.m-right-0{margin-right: 0 !important;}
.m-top-0{margin-top: 0;}
.m-bottom-0{margin-bottom: 0;}
.m-horizontal-0{margin-left: 0;margin-right: 0;}
.m-vertical-0{margin-top: 0;margin-bottom: 0;}
.m-0{margin: 0;}

.ta-center 
{
	text-align: center;
}
.ta-right 
{
	text-align: right;
}
.ta-left 
{
	text-align: left;
}
.f-right 
{
	float: right;
}
.f-left 
{
	float: left;
}

.d-none
{
	display: none;
}

.c-pointer
{
	cursor: pointer;
}

.c-default
{
	cursor: default;
}

.not-link
{
	.not-active {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
		color: inherit;
	  }
}





//Migas de pan

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  
  ul {
	list-style: none;
  }
  
  .cf {
	&:before, &:after { content: ' '; display: none; }
	// &:after { clear: both; }
  }
  
  //BREADCRUMBS
  .breadcrumbs {
	margin-top: 10px;
	// border-top: 1px solid $primary-color;
	// border-bottom: 1px solid $primary-color;
	background-color: none;
  }
  
  .breadcrumbs ul {
	border-left: 1px solid $primary-color;
	border-right: 1px solid $primary-color;
  }
  
  .breadcrumbs li {
	float: left;
	min-width: 15%;
	border-top: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
  }
  
  .breadcrumbs a {
	position: relative;
	display: block;
	padding: 8px;
	padding-right: 10px;
	padding-left: 20px;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	color: $letter-color;
	cursor: pointer;
  }
  
  .breadcrumbs a:hover {
	background: $back-ground-color;
	text-decoration: none;   
  }
  
  .breadcrumbs a.active {
	color: $back-ground-color;
	background-color: #fafafa;
  }
  
  .breadcrumbs a span:first-child {
	display: inline-block;
	width: 22px;
	height: 22px;
	padding: 2px;
	margin-right: 5px;
	border: 2px solid $secondary-color;
	border-radius: 50%;
	background-color: $back-ground-color;
  }
  
  .breadcrumbs a.active span:first-child {
	color: #fff;
	border-color: $back-ground-color;
	background-color: $back-ground-color;
  }
  
  .breadcrumbs a:before,
  .breadcrumbs a:after {
	content: '';
	position: absolute;
	top: 0;
	left: 100%;
	z-index: 1;
	display: block;
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 12px solid transparent;
  }
  
  .breadcrumbs a:before {
	margin-left: 1px;
	border-left-color: #d5d5d5;
  }
  
  .breadcrumbs a:after {
	border-left-color: #f5f5f5;
  }
  
  .breadcrumbs a:hover:after {
	border-left-color: $back-ground-color;
  }
  
  .breadcrumbs a.active:after {
	border-left-color: $back-ground-color;
  }
  
  .breadcrumbs li:last-child a:before,
  .breadcrumbs li:last-child a:after {
	display: none;
  }
  