#main-header {
  background: $primary-color;
  color: white;
  height: 85px;
  a {
    color: white;
  }
}

nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    li {
      display: inline-block;
      line-height: 80px;
      a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        min-width: 150px;
        text-align: center;
        &:hover {
          background: $header-tabs-color;
        }
      }
    }
  }
}

#main-content {
  background: white;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  header, .content {
    padding: 40px;
  }
}

.header_logo
{
  cursor: default;
  height: 71px;
  position: relative;
  top: 7px;
  left: 25px;
}