#main-header {
  background: $primary-color;
  color: white;
  height: 80px;
  a {
    color: white;
  }
}

#logo-header {
  float: left;
  padding: 15px 0 0 20px;
  text-decoration: none;
  &:hover {
    color: #0b76a6;
  }
  .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
  }
  .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #999;
  }
}

nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    li {
      display: inline-block;
      line-height: 80px;
      a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        min-width: 150px;
        text-align: center;
        &:hover {
          background: #0b76a6;
        }
      }
    }
  }
}

#main-content {
  background: white;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  header, .content {
    padding: 40px;
  }
}