#main-header {
  background: $primary-color;
  color: white;
  height: 85px;
  position: fixed;
  z-index: 999;
  // position: inherit;

  width: 100%;
  a {
    color: white;
  }
}

nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
    li {
      display: inline-block;
      line-height: 85px;
      a {
        display: block;
        padding: 0 10px;
        text-decoration: none;
        min-width: 150px;
        text-align: center;
        &:hover {
          background: $header-tabs-color;
        }
      }
    }
    div.cnt-img-user-header{
      user-select: none;
      .cnt-user-name{
        min-width: 225px;
        text-align: left;
        span{
          padding-left: 80px;
        }
      }
      &:hover{
        background: $header-tabs-color;
      }
    }
  }
}

.img-user-header
{
  max-width: 70px;
  position: absolute;
  padding: 15px 0 0 15px;
}

#main-content {
  background: white;
  width: 90%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  header, .content {
    padding: 40px;
  }
}

.header_logo
{
  cursor: default;
  height: 71px;
  position: relative;
  top: 7px;
  left: 25px;
}

/* menu desplegable */

#nav-header ul ul {
  display: none;
  top: 100%;
  left: 0;
  background: #333;
  padding: 0;
  float: right;
  // width: -moz-min-content;   
  width: min-content;
}

/* items del menu desplegable */

#nav-header ul ul li {
  float:none;
  width:150px
}

/* enlaces de los items del menu desplegable */

#nav-header ul ul a {
  line-height:120%;
  padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */

#nav-header ul li:hover > ul {
  display:block;
}


