.wrapper {
  text-align: center;
  padding: 15px 0 0 0;
  color: $primary-color;
}

.pagination li {
  border: 2px solid #777777;
  margin-left: 13px;
  border-radius: 16px;
  padding: 0px;
  color: inherit;
  &.prev, &.next {
    border: 2px solid #777777;
    margin-left: 13px;
    border-radius: 16px;
    padding: 0px;
    color: inherit;
  }
  a {
    color: inherit;
  }
  &:hover, a:hover {
    background-color: #777777;
    border-radius: 16px;
    color: white;
  }
  &.active{
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    background-color: #777777;
    border-radius: 16px;
    color: white;
  }
}