.buttons-portal {
  div {
    padding-top: 4%;
  }
  
  a {
    width: 170px;
    height: 170px;
    display: inline-block;
    position: relative;
    line-height: 168px;
    background-color: #d3d3d3;
    border-radius: 100px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 3px rgba(0, 0, 0, 0.1);

    &:active {
      top: 1px;
    }
    &::before {
      position: absolute;
      z-index: -1;
      top: -8px;
      right: -8px;
      bottom: -8px;
      left: -8px;
      background-color: #eaeaea;
      border-radius: 140px;
      opacity: 0.5;
    }
    &:active {
      top: -9px;
    }
    &:hover {
      opacity: 1;
    }
    &.regions:hover {
      background-color: $regions-color;
    }
    &.countries:hover {
      background-color: $countries-color;
    }
    &.fuels:hover {
      background-color: $fuels-color;
    }
    &.technologies:hover {
      background-color: $technologies-color;
    }
    &.arcs:hover {
      background-color: $arcs-color;
    } 
    &.typelines:hover {
      background-color: $typelines-color;
    } 
    &.range:hover {
      background-color: $range-color;
    } 

  }
  img {
    max-width: 140px;
    max-height: 140px;
    display: inline-block;
    position: relative;
    background-color: #d3d3d3;
    border-radius: 100px;
  }
}

.div-font {
  font-size: 30px;
  font-family: Roboto;
  font-family: "Lucida Grande", Tahoma;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100 !important;
}
