table {
  border: 2px solid #666666;
  color: #333;
  td, th {
    padding-left: 8px;
  }
}

.table100-head {
  height: 60px;
  background: #cdcdcd;
  th {
    font-size: 18px;
    color: inherit;
    line-height: 1.2;
    font-weight: unset;
    border-bottom: 2px solid #666666;
    a {
      font-size: 18px;
      color: inherit;
      line-height: 1.2;
      font-weight: unset;
    }
    &.actions {
      height: 60px;
      max-width: 30px;
      text-align: center;
    }
  }
}

table {
  tbody tr {
    td.actions {
      max-width: 30px;
      text-align: center;
    }
    height: 50px;
    &:last-child {
      border: 0;
    }
  }
  td, th {
    text-align: left;
  }
  td.l, th.l {
    text-align: right;
  }
  td.c, th.c, td.r, th.r {
    text-align: center;
  }
}

tbody tr {
  font-size: 15px;
  color: inherit;
  line-height: 1.2;
  font-weight: unset;
  cursor: default;
}