//Variables

$font-family: Helvetica, Arial, sans-serif;

// $medida-de-referencia: 16px;
$primary-color: #333;
$secondary-color: #777777;
$third-color: #ababab;
$letter-color: #666;
$error-leter-color: #c60f13;

$countries-color: #c6f0f8;
$regions-color: #d3ffdc;
$scenarios-color: #fadae6;
$technologies-color: #f8ebb6;
$arcs-color: #c2c0fd;
$typelines-color: #FDD3B9;
$objectives-color: #88ce9b;

$cont-max: 100%;

// $primary-color-de-letra: #8577a5;
// $secondary-color-de-letra: #555B47;
// $color-de-letra: #606060;
// $color-borde-elementos: #ddd;
// $radio-del-borde: 1em;
// $color-exito: #59C465;
// $color-fallo: #FE472F;
// $color-informacion: #FE9F2F;
// $ancho-maximo: 70rem; //62.5rem es la medida estandar de foundation.
// $color-menu: #008cba;

// $small-screen: 768px !default;
// $medium-screen: 1280px !default;
// $large-screen: 1440px !default;